:root {
    --materials-color: #4169e1;
    --font-color: #454555;
}

body {
    padding: 0;
    box-sizing: border-box;
}
.el-main {
    padding: 0;
    height: calc(100vh - 60px);
}
.el-header {
    z-index: 1;
    padding: 0;
}
.el-button+.el-button {
    margin-left: 0;
}

.el-button {
    transition: none;
}
// dialog
.el-dialog__body {
    padding: 5px 20px;
}
// message-box
.el-message--success {
    --el-message-text-color:var(--materials-color);
}
.el-message {
    box-sizing: border-box;
    border-radius: 4px;
    border: #fff solid 1px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    transition: opacity .1s,transform .4s,top .4s;
}

// el-tabs
.el-tabs__item.is-active {
    color: var(--materials-color);
}
.el-tabs__active-bar {
    background-color: var(--materials-color);
}
.el-tabs--left .el-tabs__header.is-left {
    margin-right: 0;
}
.materials {
    .el-tabs__item {
        height: 60px !important;
        line-height: unset;
    }

}
